@model IEnumerable<DbTeacherData>
@{
    Layout = "_DashLayout";
}
<h4 class="card-title"> Table Guru</h4>
<a asp-action="Create">Tambah Data</a>
<div class="card-body">
    <div class="table-responsive">
        <table class="table tablesorter " id="">
            <thead class=" text-primary">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nama)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NUPTK)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mata_Pelajaran)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nama)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NUPTK)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mata_Pelajaran)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
