@model IEnumerable<DbAttitudeCompetence>
@{
    Layout = "_DashLayout";
}
<h4 class="card-title"> Tabel Kompetensi Sikap</h4>
<a asp-action="CreateAttitude">Tambah Data</a>
<div class="card-body">
    <div class="table-responsive">
        <table class="table tablesorter " id="">
            <thead class=" text-primary">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NIS)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nama)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Deskripsi_Sikap)
                    </th>
                    <th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NIS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nama)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Deskripsi_Sikap)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
