@model IEnumerable<DbStudentData>
@{
    Layout = "_DashLayout";
}
<h4 class="card-title"> Table Siswa</h4>
<a asp-action="Create">Tambah Data</a>
<div class="card-body">
    <div class="table-responsive">
        <table class="table tablesorter " id="">
            <thead class=" text-primary">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NIS)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NISN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nama)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Jenis_Kelamin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Alamat)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NIS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NISN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nama)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Jenis_Kelamin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Alamat)
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
